@using Mvc5_Online_Ticari_Otomasyon_Projesi.Models.Sınıflar;
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>Görsel</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UrunID</td>
            <td>@item.UrunAd</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
            <td>@item.AlisFiyat</td>
            <td>@item.SatisFiyat</td>
            <td>@item.Kategori.KategoriAd</td>
            <td>@item.UrunGorsel</td>
            
        </tr>
    }
</table>
<a href="/Urun/YeniUrun/" class="btn btn-info">Yeni Ürün</a>

